<%= form_for [:my, @project, @image] do |f| %>

  <div class="field">
    <%=f.label :file, "Choose and Image" %>
    <%=f.file_field :file %>
  </div>

  <%= f.submit "Upload Image" %>
<% end %>

<% @images.each do |img| %>
	
	<%= image_tag img, class: "image" %>

<% end %>