
<div class="container">
  <form class="fuck_bootstrap">
    <h2 class="form-signin-heading">New Project</h2>

    <%= form_for [:my, @project], class: "form-signin" do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :teaser %>
      <%= f.text_field :teaser, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: 8 %>

      <%= f.label :goal %>
      <%= f.number_field :goal, class: "form-control" %>

      <% if controller.action_name == 'new' %>
        <%= f.submit "Publish Project", class: "btn btn-lg btn-primary btn-block" %>
      <% else %>
        <%= f.submit "Update Project", class: "btn btn-lg btn-primary btn-block" %> 
      <% end %>
    <% end %>
</div> <!-- /container -->


